<center>
<img src="./images/ods_stickers.jpg" />
    
## Introducción al Machine Learning

Basado en material de  [Yury Kashnitsky](https://yorko.github.io). Traducido y editado al español por [Ana Georgina Flesia](https://www.linkedin.com/in/georginaflesia/). Este material esta sujeto a los términos y condiciones de la licencia  [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Se permite el uso irrestricto para todo propósito no comercial.

# <center> Ejercicio 1. Análisis exploratorio con Pandas

<img src="./images/pandas.jpg"  width=50% />

**En esta tarea se tiene que usar Pandas para responder preguntas sobre el  dataset [Adult](https://archive.ics.uci.edu/ml/datasets/Adult). **

Variables y su tipo:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# para dibujar gráficos en jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# no nos gunstan los avisos
# se puden comentar las dos lineas si se quiere tener avisos
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Cuantas mujeres y hombres (variable *sex* ) estan representadas en este dataset?**

In [5]:
# Entre su código python aquí
df_male = data[data["sex"]=="Male"]
print(f"Existen {df_male.shape[0]} hombres.")
df_female = data[data["sex"]=="Female"]
print(f"Existen {df_female.shape[0]} mujeres.")

Existen 21790 hombres.
Existen 10771 mujeres.

**2. Cual es la edad promedio (variable *age* ) de las mujeres?**

In [6]:
# Entre su código python aquí
mean = df_female["age"].mean()
print(f"La edad promedio de las mujeres es: {mean}.")

La edad promedio de las mujeres es: 36.85823043357163.

**3. Cual es el porcentaje de ciudadanos alemanes (variable *native-country*)?**

In [7]:
# Entre su código python aquí: Germany -> 0.004207
germany = data['native-country'].str.contains('Germany').value_counts(normalize=True)[True]
print(f"El procentage de ciudadanos alemanes {germany}.")

El procentage de ciudadanos alemanes 0.004207487485028101.

**4. Cuales son la media y la desviación estandard de la edad para aquellos que ganan mas de 50k por año (variable *salary*) ?**

In [19]:
# Entre su código python aquí
mean_age = data[data['salary'] == '>50K']["age"].mean()
print(f"la media de la edad para aquellos que ganan más de 50k por año es {mean_age}.")
std_age = data[data['salary'] == '>50K']["age"].std()
print(f"La desviación estandard de la edad para aquellos que ganan más de 50k por año es {std_age}.")

la media de la edad para aquellos que ganan más de 50k por año es 44.24984058155847.
La desviación estandard de la edad para aquellos que ganan más de 50k por año es 10.519027719851826.

**5. Cuales son la media y la desviacion estandard de la edad para aquellos que ganan menos de 50k por año (variable *salary*)?**

In [21]:
# Entre su código python aquí
mean_age_min_50k = data[data['salary'] == '<=50K']["age"].mean()
print(f"La media de la edad para aquellos que ganan menos de 50k por año es {mean_age_min_50k}.")
std_age_min_50k = data[data['salary'] == '<=50K']["age"].std()
print(f"La desviación estandard de la edad para aquellos que ganan menos de 50k por año es {std_age_min_50k}.")

La media de la edad para aquellos que ganan menos de 50k por año es 36.78373786407767.
La desviación estandard de la edad para aquellos que ganan menos de 50k por año es 14.02008849082488.

**6. Es cierto que la gente que gana mas que 50K tiene al menos educacion media completa? (variable *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate*)**

In [ ]:
# Entre su código python aquí

**7. Muestre los estadisticos para cada raza (*race* feature) y cada género (*sex* feature). Use *groupby()* y *describe()*. Encuentre la edad maxima de los hombres de la raza *Amer-Indian-Eskimo*.**

In [ ]:
# Entre su código python aquí

**8. De las siguientes categorías, cual es la que tiene la mayor proporcion de ricos (>50K): married or single men (variable *marital-status*)? Considere como casados  aquellos que tienen *marital-status* comenzando por *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), el resto son bachelors.**

In [ ]:
# Entre su código python aquí

**9. Cual es el máximo de horas que una persona trabaja por semana? (variable *hours-per-week*)? Cuantas personas trabajan ese numero de horas y cual es el porcentaje entre esas personas que ademas ganan mucho (>50K) ?**

In [ ]:
# Entre su código python aquí

**10. Cuente el numero de horas de trabajo (*hours-per-week*) de aquellos que ganan poco, y de los que ganan mucho (*salary*) para cada pais (*native-country*). Cuales son esos conteos para Japon?**

In [ ]:
# Entre su código python aquí